<div class="panel well">
  <div class="panel-heading">
    <h1>Listing articles</h1>

    <%= link_to 'New article', new_article_path, class: 'btn btn-primary' %>
  </div>
  <div class="panel-body">
     
    <table class="table table-responsive">
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th colspan="3">Actions</th>
      </tr>
     
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= link_to 'Show', article_path(article), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', article_path(article), class: 'btn btn-danger',
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>