<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Test App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="/css/main.css">

        <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
          <div class="container">
            <div class="menuextras">
          <div class="extras">
            <ul>
              <!-- <li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="#"><b>3 items</b></a></li>
              <li>
                <div class="dropdown choose-country">
                  <a class="#" data-toggle="dropdown" href="#"><img src="/img/flags/gb.png" alt="Great Britain"> UK</a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="menuitem"><a href="#"><img src="/img/flags/us.png" alt="United States"> US</a></li>
                    <li role="menuitem"><a href="#"><img src="/img/flags/de.png" alt="Germany"> DE</a></li>
                    <li role="menuitem"><a href="#"><img src="/img/flags/es.png" alt="Spain"> ES</a></li>
                  </ul>
                </div>
              </li> -->
              <% if user_signed_in? %>
          
                  <li>
                    <div class="dropdown choose-country">
                      <a class="#" data-toggle="dropdown" href="#"><%= current_user.email %></a>
                      <ul class="dropdown-menu" role="menu">
                        <li role="menuitem"><a href="/logout"> Logout</a></li>
                        <li role="menuitem"><a href="/articles"> Blog</a></li>

                      </ul>
                    </div>
                  </li>
                <%else%>
                  <li><a href="/login">Login</a></li>
                <% end %>
              </ul>

          </div>
            </div>
            <nav id="mainmenu" class="mainmenu">
          <ul>
            <li class="logo-wrapper"><a href="/"><img src="/img/mPurpose-logo.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">Features</a>
            </li>
            
            <li>
              <a href="#">Credits</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

       <%= yield %>

      <!-- Footer -->
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-footer col-md-3 col-xs-6">
              <h3>Our Latest Work</h3>
              <div class="portfolio-item">
              <div class="portfolio-image">
                <a href="page-portfolio-item.html"><img src="/img/portfolio6.jpg" alt="Project Name"></a>
              </div>
            </div>
            </div>
            <div class="col-footer col-md-3 col-xs-6">
              <h3>Navigate</h3>
              <ul class="no-list-style footer-navigate-section">
                <li><a href="page-blog-posts.html">Blog</a></li>
                <li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>
                <li><a href="page-products-3-columns.html">eShop</a></li>
                <li><a href="page-services-3-columns.html">Services</a></li>
                <li><a href="page-pricing.html">Pricing</a></li>
                <li><a href="page-faq.html">FAQ</a></li>
              </ul>
            </div>
            
            <div class="col-footer col-md-4 col-xs-6">
              <h3>Contacts</h3>
              <p class="contact-us-details">
                  <b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
                  <b>Phone:</b> +44 123 654321<br/>
                  <b>Fax:</b> +44 123 654321<br/>
                  <b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
                </p>
            </div>
            <div class="col-footer col-md-2 col-xs-6">
              <h3>Stay Connected</h3>
              <ul class="footer-stay-connected no-list-style">
                <li><a href="#" class="facebook"></a></li>
                <li><a href="#" class="twitter"></a></li>
                <li><a href="#" class="googleplus"></a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
            </div>
          </div>
        </div>
      </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="/js/jquery.fitvids.js"></script>
        <script src="/js/jquery.sequence-min.js"></script>
        <script src="/js/jquery.bxslider.js"></script>
        <script src="/js/main-menu.js"></script>
        <script src="/js/template.js"></script>

    </body>
</html>